
.header {
  color: #fff;
}

.h1 {
  font-family: Georgia, Serif;
} 

body {
  background-color: white;
}

.pt-5{
  padding-left: 35px;
}

.home {
  height:700px;
    margin-bottom: 60px;
  background-image: url(/assets/image/1.JPG);
  background-position: center 100%;
  background-size: cover;
  
}

.home1 {
  height: 700px;
    margin-bottom: 60px;
  background-image: url(/assets/Wisata/1.jpg);
  background-position: center 100%;
  background-size: cover;
  
}
.home2 {
  height: 700px;
    margin-bottom: 60px;
  background-image: url(/assets/paket/5.JPG);
  background-position: center 100%;
  background-size: cover;
  
}

.home3 {
height: 700px;
  margin-bottom: 60px;
  background-image: url(/assets/Artikel/artikell.jpg);
  background-position: center 100%;
  background-size: cover;
}



#neubar {
  background: linear-gradient(145deg, red,blue);
  box-shadow: 4px 6px 12px rgba(0, 0, 0, 0.4)
}

.nav-item .active {
  border-radius: 6px;
  background: linear-gradient(145deg,#030303, #cc1e1e);
  box-shadow: 4px 4px 8px #000000,
    -4px -4px 8px #b6b6b6;
}

#neubar .nav-item {
  margin: auto 4px;
}

#neubar a {

  padding-left: 12px;
  padding-right: 12px;
}

